body {
    min-width: 1020px;
}

.nav-icon {
    height: 40px;
    padding: 2px;
}

.nav-search-div {
    border-radius: .25rem;
    margin: .25rem;
    background-color: hsla(0,0%,100%,0.125);
}

.header-div {
    background-color: #24292e;
}

input::placeholder {
    color: rgb(97, 97, 97);
}

.custom-div {
    background-color: grey;
}
