body {
    min-width: 570px;
}

.nav-icon {
    height: 40px;
    padding: 2px;
}

.nav-search-div {
    border-radius: .25rem;
    margin: .25rem;
    height:30px;
    background-color: hsla(0,0%,100%,0.125);
}

.header-div {
    background-color: #24292e;
}

.nav-search-div input::placeholder {
    color: #929292;
}

.nav-search-div input:focus {
    outline: none;
}



/* trials */
.custom-div {
    background-color: grey;
    height:30px;
}
